.shopping-basket {

    .dropdown-menu {
        min-width: 300px;
    }

}

.sm-quickcart-remove span {
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: url(/../images/red_cross_6x6.png) 50% 50% no-repeat;
}
